/* تنسيق عام للجسم */
body {
  font-family: 'Arial', sans-serif;
  background-color: #ffffff; /* خلفية بيضاء */
  color: #000000; /* نص أسود */
  text-align: center;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh; /* تأكد من أن الصفحة تملأ الشاشة */
  line-height: 1.6;
}

/* تنسيق العنوان */
header h1 {
  color: #000000; /* نص أسود */
  font-size: 2.5em; /* تصغير حجم العنوان */
  margin-bottom: 20px;
}

/* تنسيق السؤال */
.question {
  font-size: 3em; /* تكبير حجم السؤال */
  font-weight: bold;
  color: #000; /* نص أسود */
  margin-bottom: 30px;
}

/* تنسيق قائمة الخيارات */
ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column; /* ترتيب الأزرار بشكل عمودي */
  align-items: center;
  gap: 15px; /* المسافة بين الأزرار */
}

ul li {
  width: 80%; /* تأكد أن الأزرار تأخذ عرض كامل لكن بنسبة صغيرة */
}

ul li a {
  display: block;
  padding: 15px; /* تقليل الحجم */
  font-size: 1.5em; /* تصغير حجم النص داخل الأزرار */
  border-radius: 12px; /* جعل الأزرار أكثر تدويرًا */
  width: 100%; /* جعل الأزرار تأخذ عرض كامل */
  margin: 10px 0; /* المسافة بين الأزرار */
  text-align: center;
  text-transform: uppercase; /* تكبير الحروف وجعلها علوية */
  font-weight: 700;
  background-color: #000000; /* زر أسود */
  color: white; /* نص أبيض داخل الأزرار */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* إضافة ظل خفيف حول الأزرار */
  transition: transform 0.3s ease, background 0.3s ease, box-shadow 0.3s ease; /* تأثير عند التمرير */
}

/* تغييرات حسب الأقسام */
ul.math li a {
  background-color: #1e88e5; /* الأزرق لأسئلة الرياضيات */
}

ul.religion li a {
  background-color: #ffeb3b; /* الأصفر لأسئلة دينية */
}

ul.soccer li a {
  background-color: #e91e63; /* الوردي لأسئلة الدوري السعودي */
}

/* تأثير التمرير */
ul li a:hover {
  transform: translateY(-5px); /* رفع الزر قليلاً عند التمرير */
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3); /* زيادة الظل عند التمرير */
}

ul li a:active {
  transform: scale(0.98); /* تقليص الزر عند الضغط */
  box-shadow: none; /* إزالة الظل عند الضغط */
}

/* تنسيق الإجابة الصحيحة */
.correct {
  color: green;
  font-weight: bold;
}

/* تنسيق الإجابة الخاطئة */
.incorrect {
  color: red;
  font-weight: bold;
}

/* تنسيق الزر الخاص بالعودة إلى الصفحة الرئيسية */
#backToHome {
  margin-top: 40px;
}

#backToHome p {
  font-size: 2.5em; /* تكبير النص */
  color: #000000; /* نص أسود */
  font-weight: bold;
  cursor: pointer;
  text-transform: uppercase; /* تكبير الحروف وجعلها علوية */
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.7); /* إضافة ظل للنص */
}

#backToHome p:hover {
  text-decoration: underline;
  color: #333333; /* تغيير اللون عند التمرير */
}

/* تنسيق الفوتر */
footer {
  margin-top: 30px;
  color: #000000; /* نص أسود */
  padding: 10px;
  font-size: 1.2em; /* تصغير حجم الخط في الفوتر */
}
